@import "tailwindcss";
@plugin "daisyui";

.font-header {
    font-family: "Russo_One", serif;
}

.otherBg {
    background: #393E46;
}

.accent {
    color: #FF0000;
}

.primary {
    color: #257180;
}

.seconday {
    color: #00ADB5;
}